<div class="flex bg-black w-full">
  <div class="flex bg-primary w-full py-20 items-center justify-center">
    <div class="w-[48rem]">
      <h1 class="text-primary-text text-6xl font-semibold text-center">
        A new way to start your
        <span class="text-primary-text-accent">excavation</span>
        project
      </h1>
      <p class="text-primary-text my-12 text-center text-xl">
        Choose your excavation tools here with our algorithm. Prioritize
        objective criteria and data-driven analysis over arbitrary choices
      </p>

      <div class="flex w-full justify-center gap-6">
        <a
          href="/login"
          class="bg-primary-text text-primary rounded-md px-4 py-2 text-base hover:opacity-heavy transition-opacity duration-200"
        >
          Try now
        </a>
        <a
          href="/sign-up"
          class="bg-primary text-primary-text border border-primary-text rounded-md px-4 py-2 text-base hover:opacity-heavy transition-opacity duration-200"
        >
          Request Demo
        </a>
      </div>
    </div>
  </div>
</div>
