// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Inter,
    density: 0,
  ));
}/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Inter, "Helvetica Neue", sans-serif; }


:root {
  --color-primary: #96331E;
  --color-primary-accent: #7D2F1F;
  --color-primary-text: #FFFFFF;
  --color-primary-text-accent: #FDE68A;
  
  --color-light: #FEF4F2;
  --color-light-text: #96331E;
  --color-light-text-heavy: #000000;
  
  --color-plain: #FFFFFF;
  --color-plain-accent: #545F71;
  --color-plain-text: #525252;
  --color-plain-text-heavy: #000000;
  --color-plain-text-accent: #CF4326;
}

.dark {
  --color-primary: #96331E;
  --color-primary-text: #FFFFFF;
  --color-primary-text-accent: #FDE68A;

  --color-light: #FEF4F2;
  --color-light-text: #96331E;
  --color-light-text-heavy: #000000;

  --color-plain: #FFFFFF;
  --color-plain-accent: #545F71;
  --color-plain-text: #525252;
  --color-plain-text-heavy: #000000;
  --color-plain-text-accent: #CF4326;
}

.fsize-btn {
  @apply text-sm sm:text-base;
}

.fsize-header {
  @apply text-4xl sm:text-6xl;
}

.fsize-desc {
  @apply text-base sm:text-lg;
}