<mat-toolbar
  [ngClass]="{
    '!animate-fade-out-u': !isScrolled,
    '!animate-fade-in-u': isScrolled,
  }"
  class="!bg-primary !sm:px-16 !transition-opacity !duration-200 fixed z-50"
>
  <div class="flex w-full h-full items-center relative justify-center">
    <div class="flex w-full h-full items-center justify-between absolute z-10">
      <a
        href="/"
        class="flex bg-primary text-primary-text h-full px-4 text-xl font-semibold hover:opacity-heavy transition-opacity duration-200 justify-center items-center"
        >Excapro</a
      >

      <button
        class="bg-light text-primary-text rounded-3xl px-6 py-2 text-base font-light hover:opacity-heavy transition-opacity duration-200 sm:hidden"
        (click)="buttonPress()"
      ></button>

      <div class="sm:flex justify-between gap-6 hidden">
        <a
          href="/login"
          class="bg-primary-accent text-primary-text rounded-3xl px-6 py-2 font-light hover:opacity-heavy transition-opacity duration-200 fsize-btn"
        >
          Login
        </a>
        <a
          href="/sign-up"
          class="bg-primary text-primary-text border border-primary-text rounded-3xl px-5 py-2 font-light hover:opacity-heavy transition-opacity duration-200 fsize-btn"
        >
          Sign up
        </a>
      </div>
    </div>
    <div
      class="sm:flex w-fit h-full items-center justify-center absolute z-20 hidden gap-4 md:gap-14 lg:gap-28"
    >
      <a
        href="/about"
        class="flex bg-primary text-primary-text h-full px-4 font-light hover:opacity-heavy transition-opacity duration-200 justify-center items-center fsize-btn"
      >
        About us
      </a>
      <a
        href="/about#features"
        class="flex bg-primary text-primary-text h-full px-4 font-light hover:opacity-heavy transition-opacity duration-200 justify-center items-center fsize-btn"
      >
        Features
      </a>
    </div>
  </div>
  <div
    [ngClass]="{
    '!animate-fade-out-u': !isButtonPressed,
    '!animate-fade-in-u': isButtonPressed,
    'hidden': !isInit,
  }"
    class="flex flex-col fixed z-[51] right-4 top-10 p-2 bg-white rounded-md border border-light-text-heavy"
  >
    <a
      href="/about"
      class="fsize-desc py-2 border-b text-plain-text-heavy hover:opacity-heavy"
      >About us</a
    >
    <a
      href="/about#features"
      class="fsize-desc py-2 border-b text-plain-text-heavy hover:opacity-medium"
      >Features</a
    >
    <a
      href="/login"
      class="fsize-desc py-2 border-b text-plain-text-heavy hover:opacity-medium"
      >Login</a
    >
    <a
      href="/sign-up"
      class="fsize-desc py-2 border-b text-plain-text-heavy hover:opacity-medium"
      >Sign up</a
    >
  </div>
</mat-toolbar>
<div class="bg-primary h-14 sm:20"></div>
